
.footermain{
    width:100%;
    background-color: rgb(145, 145, 145);
}
.footersub{
    width:100%;
    display: flex;
    justify-content: space-around;
    padding:40px;
}
.footerlogo p{
    font-size: 2.3rem;
    font-weight: bold;
    color:white;
}
.footermenus{
    display: flex;
}
.footermenus li{
    padding:0 20px;
    margin:5px;
    font-size: 1.2rem;
    font-weight: bold;
}
.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: rgb(219, 219, 219);
    height: 30px;
    background-color: rgb(75, 75, 75);
}
/*IPad*/

@media screen and ( max-width:1280px ) {

    }

/*IPhone*/
    
@media screen and ( max-width:768px ) {
    
    .footersub{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding:20px;
    }
    .footerlogo p{
        font-size: 1.5rem;
        margin:20px;
    }
    .footermenus li{
        padding:0 10px;
        font-size: 1rem;
    }
    .copyright{
        font-size: 0.9rem;
        height: 25px;
    }
}